
::-webkit-input-placeholder {
  color: #60667f !important;
}

:-moz-placeholder {
  color: #60667f !important;
}

::-moz-placeholder {
  color: #60667f !important;
}

:-ms-input-placeholder {
  color: #60667f !important;
}

$base: #00a4d8;
#legal-seller {
  margin: 30px auto 0;
  width: 1200px;
  line-height: 30px;
}

#legal-seller > .top {
  line-height: 36px;
  padding: 16px 30px;
}

#legal-seller > .top > .top-t {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 30px;
  margin-right: 30px;
}

#legal-seller > .top > .top-t > .logo {
  margin-right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #7a98f7;
  text-align: center;
}

#legal-seller > .top > .top-b > div {
  width: 100px;
  text-align: center;
}

#legal-seller > .md {
  padding: 16px 30px;
}

#legal-seller > .md > div {
  margin-right: 50px;
}

#legal-seller > .md > div img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

#legal-seller > .list {
  margin-top: 20px;
  padding: 16px 30px;
}

#legal-seller > .list > .tab {
  margin: 16px 0;
}

#legal-seller > .list > .tab span {
  margin-right: 20px;
  cursor: pointer;
}

#legal-seller > .list > .tab > .now {
  color: #7a98f7;
  font-weight: 600;
}

#legal-seller > .list > .ul-head {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#legal-seller > .list > .ul-head > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

#legal-seller > .list > .ul-head > div:nth-child(3) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#legal-seller > .list > .ul-head > div:first-child {
  text-align: left;
}

#legal-seller > .list > .ul-head > div:last-child {
  text-align: right;
}

#legal-seller > .list > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 0;
}

#legal-seller > .list > ul li > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

#legal-seller > .list > ul li > div:nth-child(3) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#legal-seller > .list > ul li > div:first-child {
  text-align: left;
}

#legal-seller > .list > ul li > div:last-child {
  height: 30px;
}

#legal-seller > .list > ul li > div:last-child span {
  float: right;
  background: #7a98f7;
  padding: 0 16px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

#legal-seller > .list > .buy-box > .sell-item,
#legal-seller > .list .sell-box > .buy-item {
  display: none;
}

#legal-seller > .list .more {
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}

#legal-seller > .buy-sell-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

#legal-seller > .buy-sell-box > .content {
  position: relative;
  border-radius: 2px;
  width: 440px;
  padding: 20px 30px 26px 30px;
  background: #181d25;
  line-height: 30px;
}

#legal-seller > .buy-sell-box > .content .close {
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}

#legal-seller > .buy-sell-box > .content > div:first-child {
  font-weight: 600;
}

#legal-seller > .buy-sell-box > .content > .flex span:first-child {
  width: 80px;
}

#legal-seller > .buy-sell-box > .content > .tab {
  margin: 5px 0 20px;
  cursor: pointer;
}

#legal-seller > .buy-sell-box > .content > .tab span {
  margin-right: 20px;
}

#legal-seller > .buy-sell-box > .content > .tab > .selected {
  color: #638bd4;
  padding: 5px 0;
  border-bottom: 1px solid #638bd4;
}

#legal-seller > .buy-sell-box > .content > .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #555869;
  padding: 3px 16px;
}

#legal-seller > .buy-sell-box > .content > .inp input {
  background: transparent;
  color: #fff;
}

#legal-seller > .buy-sell-box > .content > .inp span {
  padding-left: 10px;
  margin-left: 10px;
}

#legal-seller > .buy-sell-box > .content > .inp .all {
  border-left: 1px solid #555869;
  cursor: pointer;
}

#legal-seller > .buy-sell-box > .content > .tip {
  font-size: 12px;
  margin-top: 10px 16px;
  color: #7a98f7;
}

#legal-seller > .buy-sell-box > .content > .btns {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#legal-seller > .buy-sell-box > .content > .btns > div {
  width: 46%;
  text-align: center;
  border-radius: 2px;
  line-height: 40px;
  cursor: pointer;
}

#legal-seller > .buy-sell-box > .content > .btns > .cancel {
  background: #ccc;
}

#legal-seller > .buy-sell-box > .content > .btns > .ok {
  background: #7a98f7;
  color: #fff;
}

#myshops {
  width: 1200px;
  margin: 30px auto 0;
}

#myshops > .title {
  margin-bottom: 20px;
  padding: 0 30px;
  line-height: 50px;
}

#myshops > .list-box {
  line-height: 30px;
  padding: 0 30px;
}

#myshops > .list-box .list-header > div,
#myshops > .list-box li > div {
  width: 19.9%;
  height: 30px;
}

#myshops > .list-box .list-header > div:last-child,
#myshops > .list-box li > div:last-child {
  text-align: right;
}

#myshops > .list-box li {
  padding: 14px 0;
}

#myshops > .list-box li > div:first-child > span:first-child {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: #7a98f7;
  color: #fff;
  margin-right: 5px;
  line-height: 30px;
}

#myshops > .list-box li > div:last-child a {
  float: right;
  padding: 0 14px;
  border-radius: 2px;
  background: #7a98f7;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

#myshops > .list-box li:nth-child(n + 2) {
  border-bottom: 1px solid #ddd;
}

#legal-shop-detail {
  margin: 30px auto 0;
  width: 1200px;
  line-height: 30px;
}

#legal-shop-detail > .top {
  line-height: 36px;
  padding: 16px 30px;
}

#legal-shop-detail > .top > .top-t {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 30px;
  margin-right: 30px;
}

#legal-shop-detail > .top > .top-t > .logo {
  margin-right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #7a98f7;
  text-align: center;
}

#legal-shop-detail > .top > .top-b > div {
  width: 100px;
  text-align: center;
}

#legal-shop-detail > .top > .submit {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#legal-shop-detail > .top > .submit > div {
  border-radius: 2px;
  margin-left: 30px;
  color: #fff;
  padding: 0 16px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  background: #7a98f7;
  cursor: pointer;
}

#legal-shop-detail > .md {
  padding: 16px 30px;
}

#legal-shop-detail > .md > div {
  margin-right: 50px;
}

#legal-shop-detail > .md > div img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

#legal-shop-detail > .list {
  margin-top: 20px;
  padding: 5px 30px 16px;
}

#legal-shop-detail > .list > .tab {
  margin: 16px 0;
}

#legal-shop-detail > .list > .tab > .flex > div:first-child {
  width: 80px;
}

#legal-shop-detail > .list > .tab span {
  margin-right: 20px;
  cursor: pointer;
}

#legal-shop-detail > .list > .tab .now {
  color: #7a98f7;
  font-weight: 600;
}

#legal-shop-detail > .list > .ul-head {
  height: 50px;
}

#legal-shop-detail > .list > .ul-head > div {
  float: left;
}

#legal-shop-detail > .list > .ul-head > div:last-child {
  float: right;
}

#legal-shop-detail > .list > ul li {
  padding: 16px 0;
  height: 62px;
}

#legal-shop-detail > .list > ul li > div {
  float: left;
}

#legal-shop-detail > .list > ul li > div:last-child {
  float: right;
}

#legal-shop-detail > .list > ul li > div:last-child {
  height: 30px;
}

#legal-shop-detail > .list > ul li > div:last-child span {
  float: right;
  background: #7a98f7;
  padding: 0 12px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

#legal-shop-detail > .list > .buy-box > .sell-item,
#legal-shop-detail > .list .sell-box > .buy-item {
  display: none;
}

#legal-shop-detail > .list .more {
  padding: 20px 20px;
  text-align: center;
  cursor: pointer;
}

#legal-shop-detail > .submit-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#legal-shop-detail > .submit-box > .content {
  margin: 100px auto 0;
  border-radius: 4px;
  width: 440px;
  padding: 20px 30px 26px 30px;
  background: #181d25;
  line-height: 30px;
  position: relative;
}

#legal-shop-detail > .submit-box > .content .close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

#legal-shop-detail > .submit-box > .content > .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#legal-shop-detail > .submit-box > .content > .tab > div {
  margin-right: 50px;
}

#legal-shop-detail > .submit-box > .content > .tab .now {
  font-weight: 600;
  padding-bottom: 3px;
  color: #7a98f7;
  border-bottom: 2px solid #7a98f7;
}

#legal-shop-detail > .submit-box > .content > .btn {
  background: #7a98f7;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  line-height: 40px;
}

#legal-shop-detail > .submit-box > .content > .flex {
  margin-bottom: 20px;
}

#legal-shop-detail > .submit-box > .content > .flex span {
  width: 130px;
}

#legal-shop-detail > .submit-box > .content > .flex input, #legal-shop-detail > .submit-box > .content > .flex select {
  border-radius: 2px;
  border: 1px solid #1B2A3E;
  padding: 0 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #181b2a;
  color: #fff;
}

#legal-shop-detail > .submit-box > .content > .tab {
  margin: 10px 0 20px;
  cursor: pointer;
}

#legal-shop-detail > .submit-box > .content > .tab span {
  margin-right: 20px;
}

#legal-shop-detail > .submit-box > .content > .tab > .selected {
  font-weight: bold;
  color: #7a98f7;
}

#legal-shop-detail > .submit-box > .content > .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #1B2A3E;
  padding: 3px 16px;
}

#legal-shop-detail > .submit-box > .content > .inp span {
  padding-left: 10px;
  margin-left: 10px;
}

#legal-shop-detail > .submit-box > .content > .inp .all {
  border-left: 1px solid #1B2A3E;
  font-weight: 600;
  cursor: pointer;
}

#legal-shop-detail > .submit-box > .content > .tip {
  font-size: 12px;
  margin-top: 10px 16px;
  color: #7a98f7;
}

#legal-shop-detail > .submit-box > .content > .btns {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#legal-shop-detail > .submit-box > .content > .btns > div {
  width: 46%;
  text-align: center;
  border-radius: 2px;
  line-height: 40px;
  cursor: pointer;
}

#legal-shop-detail > .submit-box > .content > .btns > .cancel {
  background: #ccc;
}

#legal-shop-detail > .submit-box > .content > .btns > .ok {
  background: #7a98f7;
  color: #fff;
}

#legal-record {
  width: 1200px;
  margin: 30px auto;
}

#legal-record > .title {
  margin-bottom: 30px;
  padding: 0 30px;
  line-height: 50px;
  font-size: 20px;
}

#legal-record > .filter-box {
  line-height: 30px;
}

#legal-record > .filter-box span {
  margin-left: 16px;
  cursor: pointer;
}

#legal-record > .filter-box span:nth-child(n + 2) {
  font-weight: 600;
}

#legal-record > .filter-box .select {
  color: #563bd1;
}

#legal-record > ul {
  padding: 10px 30px;
}

#legal-record > ul li > div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 30px;
}

#legal-record > .more {
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

#legal-record > .nomore {
  padding: 16px;
  text-align: center;
}

.log_wrap {
  overflow: auto;
}

@charset "UTF-8";
html {
  width: 100%;
  min-height: 100%;
  color: #000;
  background-color: #000;
  overflow-y: scroll;
  overflow-x:hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: PingFangSC-Regular, '\5FAE\8F6F\96C5\9ED1', sans-serif;
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

q:before, q:after {
  content: '';
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

ins, a {
  text-decoration: none;
}

a {
  color: inherit;
}

body, html, #app {
  min-width: 1200px;
  height: 100%;
}

input {
  border: 0;
  outline: 0;
  border-radius: 2px;
}

button {
  border: 0;
  outline: 0;
  border-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.hide {
  display: none !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.flex {
  display: -webkit-box;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.alcenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.inblock {
  display: inline-block;
}

.theme_color {
  color: #F16B7F !important;
}

.positionR {
  position: relative;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #000;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #2e333c;
}

.white {
  color: #fff;
}

.w50 {
  width: 50%;
}

.ft12 {
  font-size: 12px;
}

.ft14 {
  font-size: 14px;
}

.ft16 {
  font-size: 16px;
}

.ft18 {
  font-size: 18px;
}

.ft20 {
  font-size: 20px;
}

.ft24 {
  font-size: 24px;
}

.ml3{
  margin-left: 3px;
}
.ml40 {
  margin-left: 40px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.mt50 {
  margin-top: 50px;
}

.mr20 {
  margin-right: 20px;
}

.mr60 {
  margin-right: 60px;
}

.mt3 {
  margin-top: 3px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.ml10 {
  margin-left: 10px;
}

.ml25 {
  margin-left: 25px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml30 {
  margin-left: 30px;
}

.ml20 {
  margin-left: 20px;
}

.pdtb5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pdlr20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pdtb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pdt20 {
  padding-top: 20px;
}

.pdb20 {
  padding-bottom: 20px;
}

.pb50 {
  padding-bottom: 50px;
}

.w5 {
  width: 5%;
}

.w6 {
  width: 6%;
}

.w8 {
  width: 8%;
}

.w10 {
  width: 10%;
}

.w11 {
  width: 11%;
}

.w14 {
  width: 14%;
}

.w15 {
  width: 15%;
}

.w16 {
  width: 16%;
}

.w18 {
  width: 18%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w12 {
  width: 12%;
}

.w18 {
  width: 18%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.lodw20 {
  width: 20px;
}

.bold {
  font-weight: bold;
}

.fColor1 {
  color: #c7cce6;
}

.fColor2 {
  color: #637085;
}

.fColor3 {
  color: #61688a;
}

.fColor4 {
  color: #4e546f;
}

.baseColor {
  color: #00a4d8;
}

.ceilColor {
  color: #009688;
}

.redColor {
  color: #cc4951;
}

.red{
  color:#ff494a!important;;
}
.green{
  color:#35b65a!important;
}

.curPer {
  cursor: pointer;
}

.contentBK {
  background-color: #000;
}

.topshadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.ttBk {
  background-color: #1b1e2e;
}

.active {
  color: #00a4d8;
  //border-bottom: 1px solid #00a4d8;
}

.bg-part {
  background-color: #181b2a;
}

.radius4 {
  border-radius: 4px;
}

.bdb {
  border-bottom: 1px solid #303b4b;
}

.baseBtn {
  background-color: #5697f4;
  color: white;
  border-radius: 4px;
}

.main .baseBtn {
  width: 428px;
}

.base {
  // color: #00a4d8;
  color: #2ab098;
}

.mouseDefault {
  cursor: pointer;
}

.baseborderBtn, .baseBtn {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  cursor: default;
}

:root {
  --swiper-theme-color: #ff494a;
}

.back-nav {
  height: 72px;
  background-color: #181b2a;
  line-height: 72px;
  border-radius: 3px;
}

.nav-after {
  display: block;
  height: 10px;
  background-color: #262a42;
}

.account-content {
  width: 100%;
  min-height: 750px;
  background-color: #181b2a;
}

.positionR {
  position: relative;
}

.pageBack {
  background-color: #262a42;
}

.bb_shadow {
  -webkit-box-shadow: 0 5px 5px #1b1e2e;
  box-shadow: 0 5px 5px #1b1e2e;
}


.el-button--download.is-active,
.el-button--download:active {
  background: #00a4d8!important;
  border-color: #00a4d8!important;
  color: #fff!important;
}

.el-button--download:focus,
.el-button--download:hover {
  background: #00a4d8!important;
  border-color: #00a4d8!important;
  color: #fff!important;
}

.el-button--download {
  color: #FFF!important;
  background-color: #00a4d8!important;
  border-color: #00a4d8!important;
}
.el-button--default:hover{
  color:#f0b90b!important;
  background: #f3e6be!important;
  border-color:#f0b90b!important;
}
.el-button--primary{
  background-color: #f0b90b!important;
  border-color: #f0b90b!important;
}
.el-button--primary:hover{
  color:#fff!important;
  background: #ffd13e!important;
}
.el-button--primary.is-active, .el-button--primary:active{

  background: #ffd13e!important;
}
.el-button:active{
  color:#f0b90b!important;
  background: #f3e6be!important;
  border-color:#f0b90b!important;
}
